
*{margin:0; padding:0; vertical-align:middle;box-sizing:border-box; 
/* 밴더프리픽스 - 모바일 반응형 글자크기 조정해주는 스타일 */ -webkit-text-size-adjust:100%; -moz-text-size-adjust:100%; -ms-text-size-adjust:100%; -o-text-size-adjust:100%; text-size-adjust:100%;}
html,body {width:100%; height:100%;}
html {overflow-y:scroll;}
body {font:normal 14px/1 '맑은고딕', 'arial'; color:#222328; background:#fff;}
ul,li {list-style:none;}
a {color:#222328; text-decoration:none;}

h1,h2,h3,h4,h5,h6 {font-size:14px; font-weight:normal;}
i, em, address {font-style:normal;}
i, em, span {vertical-align:baseline;}

/* 플롯팅핵 */
.fixed-clear {content:''; display:block; clear:both;}